<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tepian | About us</title>
    <link rel="icon" href="images/icon.png">
    <link rel="stylesheet" type="text/css" href="stylesheets/about.css">
</head>

<body>
    <header>
        <div class="bar">
            <img src="images/icon.png" width="40" height="40">
            <h1>Tepians</h1>

            <ul>
              <li><a href="/index">Home</a></li>
              <li class="active"><a href="/about">About</a></li>
              <li><a href="/drinks">Drinks</a></li>
              <li><a href="/news">News</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            
        </div>
    </header>

    <main>
        <main class="tagline">
                <div class="tagline_2">
                    <div>
                        <p class="coffee_img"> <img src="images/headline.jpg" width="300" height="180"></p>
                        <h1 align="center" style="font-size: 100px; font-weight: 900;">ABOUT US</h1>
                        <p >Kami Tepians adalah usaha Coffee street yang dijalan kan oleh sekelompok remaja yang memiliki ambisi untuk membuka usaha bersama sama, kami terdiri dari 7 orang yang berasal dari background yang berbeda-beda, tetapi dorongan kami untuk ingin memulai usaha ini adalah kami ingin merasakan apa rasannya dari membuka usaha sendiri itu mau itu rasa senang ataupun susahnya memulai suatu usaha, kami memilih usaha coffee street ini juga dikarenakan rasa suka kami terhadap kopi maka dari itu kami memilih usaha ini dan akan berkomitmen untuk terus memberikan pengalaman meminum kopi terbaik untuk budak-budak pontianak</p>
                    </div>  

                    <div>
                      <h1 class="visi"><strong>VISI</strong></h1>
                        <p>Menjadi street coffee yang terdepan dalam memberikan pengalaman kopi yang unik dan berkualitas tinggi kepada pelanggan di setiap sudut kota. Kami ingin menjadi destinasi utama bagi orang orang yang mencari suasana yang nyaman dan seru, serta menikmati beragam varian kopi susu yang disajikan dengan keahlian kami.</p>
                    
                      <h1 class="misi"><strong>MISI</strong></h1>
                        <p>- Memberikan pengalaman kopi yang luar biasa</p>
                        <p>- Menciptakan suasana yang nyaman dan asik saat berkunjung</p>
                        <p>- Berkelanjutan dan bertanggung jawab dengan pekerjaan</p>
                        <p>- Inovasi dan kreatif dalam berbisnis</p>
                    </div>
                </div>
        </main>
        <main class="history">
            <div class="historytitle">
                <h1>HISTORY</h1> <br>
                <img src="images/history.png" width="300" height="450" class="img_history">
            </div>
            <div class="tahun">
                <h1>2023</h1>
                <p>Pada bulan agustus tepians mulai merencanakan perancangan usaha nya yang awalnya kami rencanakan bernama "camorte" dan hanya untuk tugas dari sebuah kursus x-pro academy lalu kami berpikir untuk membuat rencana usaha ini lebih serius lagi untuk di jalankan.</p><br>

                <p>pada bulan november kami mulai rapat pertama dan mulai membahas apa yang mau di kembangkan dari usaha ini dan kami pun setuju  untuk merubah nama dari usaha ini dari "camorte" menjadi "tepians" dan kami pun mendapatkan banyak bantuan dari teman teman kami yang akhirnya tertarik untuk menjadi investor untuk usaha tepians ini. </p>

                <br>

                <h1>2024</h1>
                <p>lompat pada bulan january kami bersama sama mencari lokasi yang pas untuk membuka usaha ini dan mengumpul beberapa peralatan yang akan di butuhkan dan menentukan siapa yang akan menjalankan secara operasional ketika memulai nya nanti.</p><br>

                <p>Pada awal bulan february kami berencana untuk membuka soft opening dari tepians sebagai percobaan sebelum membuka di tanjung pura, pada soft opening ini kami memulai dari membuka di jalan camar saja dan mempromosikannya lewat instagram selama 7 hari, hasil dari soft opening 7 hari itu kami pun gunakan untuk trial and error menu minuman dan cara operasional kami.</p><br>

                <p>Setelah bulan februari itu dan telah menjalankan soft opening dari tepians kami berencana mulai mempersiapkan pembukaan perdana di tanjung pura selama bulan november dan mulai beroperasional penuh dari bulan april</p><br>
            </div>  
        </main>
        <main>
        <main class="team">
            <div class="teamtitle"><h2>OUR TEAM</h2></div>
            <section class="cards">
            
                <div class="card" id="non-coffee">
                
                
                    <div class="card-m">
                
                        <div class="card-s">
                            <div class="card-img">
                                <img src="images/michael.jpeg">
                            </div>
                            <div class="card-info">
                                <p class="card-name">MICHAEL</p>
                                <p class="card-price">Operational & Captain</p>
                            </div>
                        </div>
                
                        <div class="card-s">
                            <div class="card-img">
                                <img src="images/santok.jpeg">
                            </div>
                            <div class="card-info">
                                <p class="card-name">SANTOK</p>
                                <p class="card-price">Marketing & Design</p>
                            </div>
                        </div>
                
                        <div class="card-s">
                            <div class="card-img">
                                <img src="images/cs.jpeg">
                            </div>
                            <div class="card-info">
                                <p class="card-name">CS</p>
                                <p class="card-price">Investor & Operational</p>
                            </div>
                        </div>
                
                        <div class="card-s">
                            <div class="card-img">
                                <img src="images/dion.jpeg">
                            </div>
                            <div class="card-info">
                                <p class="card-name">DION</p>
                                <p class="card-price">Investor</p>
                            </div>
                        </div>
                
                        <div class="card-s">
                            <div class="card-img">
                                <img src="images/broney.jpeg">
                            </div>
                            <div class="card-info">
                                <p class="card-name">BRONEY</p>
                                <p class="card-price">Investor</p>
                            </div>
                        </div>
                
                        <div class="card-s">
                            <div class="card-img">
                                <img src="images/chichi.png">
                            </div>
                            <div class="card-info">
                                <p class="card-name">CHI CHI</p>
                                <p class="card-price">Ex Operational</p>
                            </div>
                        </div>
                     </div>
                </div>
            </section>
            </div>
        </main>

</body>
<footer>
    <div>
        <p class="footer_img"> <img src="images/headline.jpg" width="150" height="90"></p>
        <p class="follow_us">Follow us</p>
        <li><a href="https://www.instagram.com/tepians.id?igsh=bjhnbGcwb2N0MWVi">Instagram</a></li>
        <hr class="hr">
        <p class="copyright">© 2024 TEPIANS, All Rights Reserved</p>
    </div>

    <div>
        <p></p>
    </div>

    <div>
        <p></p>
    </div>

    <div>
        <h2>Link</h2><br>
        <a href="index.ejs">Home</a><br>
        <a href="about.ejs">About</a><br>
        <a href="drinks.ejs">Drinks</a><br>
        <a href="news.ejs">News</a><br>
    </div>

    <div>
        <h2 id="contact">Customer center</h2><br>
        <p>jl.tanjung pura no.236</p>
        <p>+62 8582 897 0472 <br> (Whatsapp Only)</p>
        <p>Tepians.Pontianak@gmail.com</p>
    </div>
</footer>
</html>