<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tepian | Drinks</title>
    <link rel="icon" href="images/icon.png">
    <link rel="stylesheet" type="text/css" href="stylesheets/drinks.css">
</head>

<body>
    <header>
        <div class="bar">
            <img src="images/icon.png" width="40" height="40">
            <h1>Tepians</h1>

            <ul>
              <li><a href="/index">Home</a></li>
              <li><a href="/about">About</a></li>
              <li class="active"><a href="/drinks">Drinks</a></li>
              <li><a href="/news">News</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            
        </div>
    </header>

    <main>
        <main class="tagline">
            <h1><strong>OUR DRINKS</strong></h1>
        </main>

        <div class="drinkstitle">
                <h3>OUR LISTS</h3>
        </div>

        <main class="drinks">
            <div class="filosofi">
                <div class="filosofi_1">
                    <div>
                        <img src="images/winter.jpg" width="330" height="480" style="border-radius: 10px; box-shadow: 10px 10px #00594f;">
                    </div>

                    <div>
                        <h1>WINTER BREEZE</h1><br>
                        <p>Filosofi di balik minuman Winter Breeze mencerminkan keindahan dan kesegaran alam yang terwujud dalam sebuah hidangan yang menyegarkan. Gabungan antara sirup berry yang manis dengan soda Sprite yang berkarbonasi menghasilkan kombinasi yang menarik dan menyegarkan, seperti hembusan angin musim dingin yang menyejukkan.</p><br>

                        <p>Winter Breeze bukan hanya sekadar minuman, tetapi juga sebuah pengalaman untuk menyegarkan pikiran dan jiwa. Setiap tegukan membawa kita pada perjalanan melintasi padang rumput yang berselimut salju, membangkitkan rasa keajaiban dan keindahan alam.</p><br>

                        <p>Di balik setiap tegukan Winter Breeze terdapat cerita tentang kebebasan dan kegembiraan. Ini adalah minuman yang mengajak kita untuk merayakan momen-momen kecil dalam hidup, meresapi keindahan alam dan merasakan kesegaran yang menghidupkan kembali semangat kita.</p><br>
                    </div>
                </div>
                

                <div class="filosofi_2">
                    <div>
                        <h1>YAKULT REGAL</h1><br>
                        <p>lFilosofi di balik minuman Yakult Regal mencerminkan kesederhanaan yang membawa kegembiraan dan kepuasan. Sebagai campuran antara Yakult yang lembut dan manis dengan sentuhan gurih dari biskuit Regal, minuman ini membawa rasa nostalgia dan kenangan masa kecil yang hangat.</p><br>

                        <p>Yakult Regal bukan hanya sekadar minuman, tetapi juga sebuah perjalanan melalui masa lalu yang penuh kebahagiaan. Setiap tegukan membawa kita kembali ke momen-momen di mana kecil itu indah, di mana kesederhanaan dalam kenikmatan membuat kita tersenyum.</p><br>

                        <p>Di balik setiap tegukan Yakult Regal terdapat cerita tentang kebersamaan dan kebahagiaan. Ini adalah minuman yang merangkul kita dalam pelukan hangat kenangan, mengingatkan kita bahwa kebahagiaan sering kali ditemukan dalam hal-hal sederhana dan momen-momen yang penuh makna.</p><br>
                    </div>
                    <div>
                        <img src="images/yakult.jpg" width="330" height="480" style="border-radius: 10px; box-shadow: -10px 10px #00594f;">
                    </div>
                </div>
                

                <div class="filosofi_1">
                    <div>
                        <img src="images/hazelnut.jpg" width="330" height="480" style="border-radius: 10px; box-shadow: 10px 10px #00594f;">
                    </div>
                    <div>
                        <h1>HAZZELNUT LATTE</h1><br>
                        <p>Filosofi di balik Hazelnut Latte adalah tentang menciptakan pengalaman yang menyenangkan dan menggoda bagi para pecinta kopi. Gabungan antara rasa lembut dari susu dengan aroma kaya dan manis dari sirup hazelnut memberikan sentuhan yang unik dan memikat.</p><br>

                        <p>Hazelnut Latte tidak hanya sekedar minuman kopi, tetapi juga merupakan simbol kehangatan dan kenikmatan yang dapat dinikmati setiap saat. Rasa khas kacang hazelnut memberikan dimensi baru pada rasa kopi tradisional, menciptakan harmoni yang memanjakan lidah. Di balik setiap tegukan, terdapat cerita tentang kehangatan dan kepuasan yang terus mengalir.</p><br>

                        <p>Lebih dari sekadar minuman, Hazelnut Latte juga mencerminkan keberagaman dan kreativitas dalam dunia kopi. Ini adalah perpaduan yang sempurna antara tradisi dan inovasi, di mana rasa klasik bertemu dengan sentuhan modern. Hazelnut Latte adalah pengingat bahwa keindahan dapat ditemukan dalam hal-hal sederhana, dan kebahagiaan sering kali datang dari hal-hal yang terkecil.</p><br>
                    </div>
                </div> 
                <br>
            </div> 
        </div>
    </main>


</body>
<footer>
    <div>
        <p class="footer_img"> <img src="images/headline.jpg" width="150" height="90"></p>
        <p class="follow_us">Follow us</p>
        <li><a href="https://www.instagram.com/tepians.id?igsh=bjhnbGcwb2N0MWVi">Instagram</a></li>
        <hr class="hr">
        <p class="copyright">© 2024 TEPIANS, All Rights Reserved</p>
    </div>

    <div>
        <p></p>
    </div>

    <div>
        <p></p>
    </div>

    <div>
        <h2>Link</h2><br>
        <a href="index.ejs">Home</a><br>
        <a href="about.ejs">About</a><br>
        <a href="drinks.ejs">Drinks</a><br>
        <a href="news.ejs">News</a><br>
    </div>

    <div>
        <h2 id="contact">Customer center</h2><br>
        <p>jl.tanjung pura no.236</p>
        <p>+62 8582 897 0472 <br> (Whatsapp Only)</p>
        <p>Tepians.Pontianak@gmail.com</p>
    </div>
</footer>
</html>