<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tepian | home</title>
    <link rel="icon" href="images/icon.png">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <script defer src="script.js"></script>
</head>

<body>
    <header>
        <div class="bar">
            <img src="images/icon.png" width="40" height="40">
            <h1>Tepians</h1>

            <ul>
              <li class="active"><a href="/index">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/drinks">Drinks</a></li>
              <li><a href="/news">News</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            
        </div>
    </header>

    <main>
        <main class="tagline">
                <div class="tagline_2">
                    <div>
                        <h1>NGOPI TUH ENAKNYE DI <br><strong style="font-weight: 700">TEPIAN</strong></h1>
                        <p> tempat nyantai tidak harus yang mahal, minuman tepi jalan tidak harus sari kacang.</p>
                    </div>  
                    <br>
                    <div>
                        <a href="#mapp"><button class="tag_btn">READ MORE</button></a>
                    </div>
                </div>
                <p class="coffee_img"> <img src="images/headline.jpg" width="590" height="350"></p>
        </main>

        <main class="drinks">
            <div class="drinktitle"><p>OUR DRINKS</p></div>
            <section class="cards">
        
                <div class="card" id="non-coffee">
            
            
                    <div class="card-m">
            
                        <div class="card-s">
                            <div class="card-img">
                                <img src="images/america.jpg">
                            </div>
                            <div class="card-info">
                                <p class="card-name">AMERICANO</p>
                                <p class="card-price">Rp <span id="num">12.000</span></p>
                            </div>
                        </div>
            
                        <div class="card-s">
                            <div class="card-img">
                                <img src="images/america.jpg">
                            </div>
                            <div class="card-info">
                                <p class="card-name">LONG BLACK</p>
                                <p class="card-price">Rp <span id="num">12.000</span></p>
                            </div>
                        </div>
            
                        <div class="card-s">
                            <div class="card-img">
                                <img src="images/hazelnut.jpg">
                            </div>
                            <div class="card-info">
                                <p class="card-name">HAZZELNUT LATTE</p>
                                <p class="card-price">Rp <span id="num">16.000</span></p>
                            </div>
                        </div>
            
                        <div class="card-s">
                            <div class="card-img">
                                <img src="images/winter.jpg">
                            </div>
                            <div class="card-info">
                                <p class="card-name">WINTER BERRIES</p>
                                <p class="card-price">Rp <span id="num">18.000</span></p>
                            </div>
                        </div>
            
                        <div class="card-s">
                            <div class="card-img">
                                <img src="images/kopisusu.jpg">
                            </div>
                            <div class="card-info">
                                <p class="card-name">KOPI SUSU</p>
                                <p class="card-price">Rp <span id="num">14.000</span></p>
                            </div>
                        </div>
            
                        <div class="card-s">
                            <div class="card-img">
                                <img src="images/blank.jpg">
                            </div>
                            <div class="card-info">
                                <p class="card-name">KOPI TUBRUK</p>
                                <p class="card-price">Rp <span id="num">5.000</span></p>
                            </div>
                        </div>
            
                        <div class="card-s">
                            <div class="card-img">
                                <img src="images/blank.jpg">
                            </div>
                            <div class="card-info">
                                <p class="card-name">KOPI SARING</p>
                                <p class="card-price">Rp <span id="num">6.000</span></p>
                            </div>
                        </div>
            
                        <div class="card-s">
                            <div class="card-img">
                                <img src="images/blank.jpg">
                            </div>
                            <div class="card-info">
                                <p class="card-name">VIETNAM DRIP</p>
                                <p class="card-price">Rp <span id="num">9.000</span></p>
                            </div>
                        </div>
            
                        <div class="card-s">
                            <div class="card-img">
                                <img src="images/yakult.jpg">
                            </div>
                            <div class="card-info">
                                <p class="card-name">YAKULT REGAL</p>
                                <p class="card-price">Rp <span id="num">15.000</span></p>
                            </div>
                        </div>
            
                        <div class="card-s">
                            <div class="card-img">
                                <img src="images/redvelvet.jpg">
                            </div>
                            <div class="card-info">
                                <p class="card-name">RED VELVET</p>
                                <p class="card-price">Rp <span id="num">16.000</span></p>
                            </div>
                        </div>
            
                        <div class="card-s">
                            <div class="card-img">
                                <img src="images/blank.jpg">
                            </div>
                            <div class="card-info">
                                <p class="card-name">CHOCO LATTE</p>
                                <p class="card-price">Rp <span id="num">12.000</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            </div>
        </main>



    <div>
        <div class="location">
            <div class="map" id="mapp">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.8176574918684!2d109.34360207472326!3d-0.03302699996663764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e1d584cf87e9b4f%3A0x41d630ee3ec9bddf!2sJl.%20Tanjung%20Pura%20No.236%2C%20Benua%20Melayu%20Laut%2C%20Kec.%20Pontianak%20Sel.%2C%20Kota%20Pontianak%2C%20Kalimantan%20Barat%2078123!5e0!3m2!1sid!2sid!4v1714287066770!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="info_location">
                <div class="head_location">LOCATION</div>
                <div class="map_">Tepians beroperasional di jl. tanjung pura no.236 yang terletak di samping eskrim luca, 
                    tempat operasional yang yang berada di tengah kota ini menjadi nilai plus pada usaha kami karena posisi kami yang sangat strategis.</p>
                </div>
            </div> 
        </div>
    </div>

</body>
<footer>
    <div>
        <p class="footer_img"> <img src="images/headline.jpg" width="150" height="90"></p>
        <p class="follow_us">Follow us</p>
        <li><a href="https://www.instagram.com/tepians.id?igsh=bjhnbGcwb2N0MWVi">Instagram</a></li>
        <hr class="hr">
        <p class="copyright">© 2024 TEPIANS, All Rights Reserved</p>
    </div>

    <div>
        <p></p>
    </div>

    <div>
        <p></p>
    </div>

    <div>
        <h2>Link</h2><br>
        <a href="index.ejs">Home</a><br>
        <a href="about.ejs">About</a><br>
        <a href="drinks.ejs">Drinks</a><br>
        <a href="news.ejs">News</a><br>
    </div>

    <div>
        <h2 id="contact">Customer center</h2><br>
        <p>jl.tanjung pura no.236</p>
        <p>+62 8582 897 0472 <br> (Whatsapp Only)</p>
        <p>Tepians.Pontianak@gmail.com</p>
    </div>
</footer>
</html>